@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.head {
  position: sticky;
  top: 0;
  z-index: 10;
}

.head-spendable {
  text-align: center;
  background-color: green;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.head-error {
  text-align: center;
  background-color: rgb(137, 0, 0);
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* ------------------------------ */

.products {
  font-family: "Patua One", cursive;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.product-item {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 20px 7px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-item img {
  width: 200px;
  height: 200px;
}

.product-item h5 {
  font-size: 18px;
}

.product-item .price {
  font-size: 18px;
  color: green;
}

.product-item .actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item .actions button:nth-child(1) {
  padding: 10px;
  width: 80px;
  border: 1px solid #ddd;
  background: rgb(165, 0, 0);
  color: #fff;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}
.product-item .actions button:nth-child(3) {
  padding: 10px;
  width: 80px;
  border: 1px solid #ddd;
  background: green;
  color: #fff;
  cursor: pointer;
  border-radius: 0px 10px 10px 0;
}

.product-item .actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product-item .actions .amount {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  height: 34px;
}

/* ------------------------------ */

.basket {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ddd;
  width: 80%;
  margin: 30px auto;
  padding: 20px 30px;
  font-family: "Patua One", cursive;
  font-size: 18px;
  line-height: 30px;
}

.basket div:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: 87px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
}
.basket div:nth-last-child(2) {
  color: green;
  text-align: right;
}

.basket button {
  padding: 10px 20px;
  background: blue;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
